.contain{
    background-color:cadetblue;
    height: 600px;
    width: 400px;
}

.create{
    padding: 5px;
    width: 100px;
    margin-top: 300px;
    border-radius: 5px;
}
.delete{
    padding: 5px;
    margin-left: 10px;
    width: 100px;
    border-radius: 5px;
}
.update{
    padding: 5px;
    margin-left: 10px;
    width: 100px;
    border-radius: 5px;

}
.todo{
    color: white;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
}